paths:
    migrations: %%PHINX_CONFIG_DIR%%/config/migrations
    seeds: %%PHINX_CONFIG_DIR%%/config/seeds

environments:
    default_migration_table: phinxlog
    default_database: dev
    dev:
        adapter: pgsql
        host: localhost
        name: germ
        user: germ
        pass: ~
        port: 5432
        charset: utf8
