{% extends 'GermBundle::base.html.twig' %}

{% block content_content %}
<div class="jumbotron">
  <h1>Bienvenue !</h1>
  <p>GERM est l’espace numérique de votre église</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a></p>
</div>
{% endblock %}


