{% extends 'GermBundle::html.html.twig' %}

{% block page_header %}
<div class="page-header">
  <h1>{% block headline %}<span class="glyphicon glyphicon-leaf"></span>Adventiste<strong>Nantes</strong>{% endblock %}</h1>
</div>
{% endblock page_header %}

{% block main_menu %}
{% embed '@MopaBootstrap/Navbar/navbar.html.twig' %}
    {% block brand %}
        <a class="navbar-brand" href="#">{{ app.user.username }}</a>
    {% endblock %}

    {% block menu %}
        {{ mopa_bootstrap_menu('GermBundle:Builder:mainMenu', {'automenu':'navbar'}) }}
    {% endblock %}
{% endembed %}
<!-- {{ mopa_bootstrap_menu('GermBundle:Builder:mainMenu', {'automenu': 'navbar'}) }} -->
{% endblock %}

{% block content %}
<div class="col-sm-9">
    {% block content_content %}
    <strong>Hier könnte Ihre Werbung stehen ... </strong>
    {% endblock content_content %}
</div>
<div class="col-sm-3">
    {% block content_sidebar %}
    <h2>Sidebar</h2>
    {% endblock content_sidebar %}
</div>
{% endblock content %}

{% block footer %}
    <p><strong>Germ</strong> <small>− Gestion d’Église pour les Responsables et les Membres.</small> <a href="http://www.vibby.fr" target="_blank">Vibby</a> 2016</p>
{% endblock footer %}
