{% extends 'GermBundle::base.html.twig' %}

{% block content_content %}
	<table class="table table-striped">
		<tr>
			<th>Nom</th>
		</tr>
		{% for member in members %}
			<tr>
				<td>
					<a href="{{ path('germ_member_edit', {'memberId': member.id}) }}" data-toggle="tooltip" data-placement="left" title="Éditer {{ member.name }}">
						{{ member.name }}
					</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}


