{% extends 'GermBundle::base.html.twig' %}

{% block content_main %}
<div class="jumbotron">
  <h1>Bienvenue !</h1>
  <p>GERM est l’espace numérique de votre église</p>
  <p>
	  <a class="btn btn-primary btn-lg" role="button" data-toggle="collapse" href="#moreAboutGerm" aria-expanded="false" aria-controls="moreAboutGerm">
	  En savoir plus
	</a>
	<div class="collapse" id="moreAboutGerm">
	  <div class="well">
	    Ici, une liste des fonctions et possibilité de cet outil blabla. Un texte à écrire pour donner un aperçu et percevoir l’ntérêt de l’outil.
	  </div>
	</div>
  </p>
</div>
{% endblock %}


