<h3>{% trans %}Compte enregistré{%  endtrans %}</h3>

<p>{% trans with {':person:': person} %}Bonjour :person:{% endtrans %}</p>

<p>{% trans %}Vous reçevez ce message car un administrateur de voter église a créé en compte pour vous sur l’outil de gestion d’église.{% endtrans %}</p>

<p>{% trans %}Pour vous connecter, utilisez les accès suivant :{% endtrans %}
    <ul>
        <li>
            {% trans %}Adresse :{% endtrans %}<a href="{{ url('fos_user_security_login') }}">{{ url('fos_user_security_login') }}</a>
        </li>
        <li>
            {% trans %}Identifiant :{% endtrans %}{{ person.email }} {% trans %}(Votre email){% endtrans %}
        </li>
        <li>
            {% trans %}Mot de passe :{% endtrans %}{{ password }}
        </li>
    </ul>
</p>

{% trans %}Salutations{% endtrans %}
