{% extends 'GermBundle::html.html.twig' %}

{% block page_header %}
<div class="page-header">
  <h1>{% block headline %}<span class="glyphicon glyphicon-leaf"></span><strong>Germ</strong>Adventiste <small> Gestion d’Église pour Responsables et Membres.</small>{% endblock %}</h1>
</div>
{% endblock page_header %}

{% block main_menu %}
{% embed '@MopaBootstrap/Navbar/navbar.html.twig' %}
    {% block brand %}
        <a class="navbar-brand" href="#">{{ app.user }}</a>
    {% endblock %}

    {% block menu %}
        {{ mopa_bootstrap_menu('GermBundle:Builder:mainMenu', {'automenu':'navbar'}) }}
    {% endblock %}
{% endembed %}
{% endblock %}

{% block content %}
<div class="col-sm-{% block main_width %}9{% endblock %}">
    {% block content_main %}
    <strong>Hier könnte Ihre Werbung stehen ... </strong>
    {% endblock content_main %}
</div>
<div class="col-sm-{% block right_width %}3{% endblock %}">
    {% block content_right %}
    <h2>Sidebar</h2>
    {% endblock content_right %}
</div>
{% endblock content %}

{% block footer %}
    <p>&copy; <a href="http://www.vibby.fr" target="_blank">Vibby</a> 2016</p>
{% endblock footer %}
