
<h3>{% trans %}Account on church tool{%  endtrans %}</h3>

<p>{% trans with {':person:': person} %}Hello :person:{% endtrans %}</p>

<p>{% trans %}You are receiving this email because an administrator of your church created an account for you on the church managment tool.{% endtrans %}</p>

<p>{% trans %}To get connected, use those access :{% endtrans %}
    <ul>
        <li>
            {% trans %}Web Address:{% endtrans %} <a href="{{ url('fos_user_security_login') }}">{{ url('fos_user_security_login') }}</a>
        </li>
        <li>
            {% trans %}Identifier:{% endtrans %} {{ person.email }} {% trans %}(Your email){% endtrans %}
        </li>
        <li>
            {% trans %}Password:{% endtrans %}{{ password }}
        </li>
    </ul>
</p>

{% trans %}Greetings{% endtrans %}
